%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Market Place
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to show_current_cart_path do
            (#{current_cart.order_items.size})
            %span.glyphicon.glyphicon-shopping-cart 
        %li
          = link_to 'Create Product', new_product_path
        %li
          = link_to 'Orders', carts_path
        %li
          = link_to 'Products', products_path
        %li
          = link_to 'Payments', payments_path
