.container
  %h1.text-center Your current cart 
  %hr
  - if @cart.order_items.size > 0
    .row
      .col-xs-8
        - @cart.order_items.each do |item|
          .row
            .col-xs-2
              = image_tag('place_holder.png', :class => "img-responsive")
            .col-xs-10
              %h2 #{item.product.name}
              %p Quantity: #{item.quantity}
              %p Item total: $#{item.total_price/100.00}
              %hr
      .col-xs-4
        %p Subtotal: $#{@cart.subtotal/100.00}
        %p Tax: $#{@cart.tax/100.00}
        %p Shipping: $#{@cart.shipping/100.00}
        %hr
        %p Grand total: $ #{@cart.total/100.00}
        = link_to new_payment_path do
          %button.btn.btn-success Check Out
        = link_to 'Keep Shopping', products_path, id: 'keep-shopping'
  - else
    %h2.text-center Your cart is currently empty



           
        
