= content_for :head do 
  %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
  :javascript
    Stripe.setPublishableKey("#{ENV['stripe_publishable_key']}");
.container
  .row
    .col-xs-4
      = bootstrap_form_for(@payment) do |f|
        %header
          %h2 Sign up!
        %fieldset.credit_card
          %span.payment-errors
          .form-group
            %label.control-label(for='credit-card-number') Credit Card Number
            %input.form-control#credit-card-number(type="text" data-stripe = "number" value="4242424242424242")
          .form-group
            %label.control-label(for='security-code') Security Code
            %input.form-control#security-code(type="text" data-stripe = "cvc" value="123")
          .form-group
            %label.control-label Expiration
            = select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"})
            %br
            = select_year(Date.today.year, {start_year: Date.today.year + 1, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"})
        %fieldset.actions.control-group
          .controls
            %input(type="submit" value="Submit Payment" class="btn btn-default")
