.container
  .row
    .col-xs-8
      = image_tag(@product.cover, :class => "img-responsive")
      %br
      = link_to 'Edit Product', edit_product_path(@product), class: 'btn btn-info'
    .col-xs-4.product-options
      %h3 #{@product.name}
      %p $#{@product.price/100.00}
      = bootstrap_form_for(@order_item) do |f|
        = f.number_field :quantity
        = hidden_field_tag :product_id, @product.id
        = f.submit "Add to Cart"
    


  
